[submodule "OpenHD/lib/mavlink"]
	path = OpenHD/lib/mavlink
	url = git@github.com:OpenHD/mavlink.git
	branch = xopenhd2
[submodule "OpenHD/lib/wifibroadcast"]
	path = OpenHD/lib/wifibroadcast
	url = git@github.com:OpenHD/wifibroadcast.git
