[submodule "wifibroadcast"]
	path = wifibroadcast
	url = https://github.com/Consti10/wifibroadcast.git
[submodule "lib/wifibroadcast"]
	path = lib/wifibroadcast
	url = git@github.com:Consti10/wifibroadcast.git
