[submodule "OpenHD/lib/wifibroadcast"]
	path = OpenHD/lib/wifibroadcast
	url = git@github.com:Consti10/wifibroadcast.git
[submodule "OpenHD/lib/mavlink"]
	path = OpenHD/lib/mavlink
	url = git@github.com:OpenHD/mavlink.git
