[Unit]
Description=OpenHD 

[Service]
User=root
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/openhd
Restart=always


[Install]
WantedBy=multi-user.target
