[Unit]
Description=OpenHD
After=NetworkManager.service

[Service]
User=root
ExecStart=/usr/local/bin/openhd
Restart=always


[Install]
WantedBy=multi-user.target
