# This is a mostly empty service, but allows commands like stop, start, reload
# to propagate to all wifibroadcast@ service instances.

[Unit]
Description=Wifibroadcast server
After=network.target
#After=network.target sys-subsystem-net-devices-wlx00c0caa578a9.device
#Requires=sys-subsystem-net-devices-wlx00c0caa578a9.device


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/true

[Install]
WantedBy=multi-user.target
