[Unit]
Description=WFB profile %i
PartOf=wifibroadcast.service
ReloadPropagatedFrom=wifibroadcast.service

[Service]
Type=simple
EnvironmentFile=/etc/default/wifibroadcast
ExecStart=/usr/bin/wfb-server.sh %i ${WFB_NICS}
TimeoutStopSec=5s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=wifibroadcast.service
