CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
x_Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.idea
cmake-build-createDebug
build
cmake-build-debug
cmake-build-debug-event-trace
cmake-build-debug-trace
cmake-build-release
cmake-build-debug-coverage
build_release
build_air_disabled
build_usb_cam_disabled