[Unit]
Description=openhd-interface
After=openhdsystem.service

[Service]
Type=notify
ExecStart=/usr/local/bin/openhd_interface

[Install]
WantedBy=multi-user.target
Alias=openhdinterface.service
