#
# This service runs the pipeline(s) for custom unmanaged camera.
# For development / ip cameras only (building the pipelines in openhd directly allows for more advanced features)
# Note that custom unmanaged camera has to be explicitly enabled in the hardware.config file !
#

[Unit]
Description=ip_camera
After=openhd.service

[Service]
# Some cameras might require root, even though it is unnecessary
User=root
# This service just executes a .sh script (and everything in it) as root
ExecStart=/bin/sh -c "/boot/openhd/custom_unmanaged_camera.sh"
# restart in regular intervals in case anything goes wrong
Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target
