# OpenHD hardware.
# Editing this file can break things - we only provide minimal support for custom setups that
# require editing this file

[wifi]
# Disable to manually specify how openhd should use the wifi cards in your system
WIFI_ENABLE_AUTODETECT = true
# The following variables are only used when ENABLE_AUTODETECT = false
# Interface name(s) of cards to use for wifibroadcast.
# AIR:  this must be exactly one card
# GROUND: you can specify more than one card, at least one is required
# transmission from ground to air is always done on the first card (the other cards only listen passively)
WIFI_WB_LINK_CARDS = "wlan1"
# Interface name of card to use for wifi hotspot, or empty if no card should be used for hotspot.
# Must not contain a card already used for wifibroadcast !
WIFI_WIFI_HOTSPOT_CARD = ""


[camera]
# Disable to manually specify what cameras openhd should use
CAMERA_ENABLE_AUTODETECT = true
# The following variables are only used when ENABLE_AUTODETECT = false
CAMERA_N_CAMERAS = 2
CAMERA_CAMERA0_TYPE = DUMMY_CAMERA
CAMERA_CAMERA1_TYPE = DUMMY_CAMERA
