# OpenHD hardware.
# Editing this file can easily break things and some of the options are quite complicated to understand / use -
# This file is only intended for developers and/ or advanced users.
# Changes in this file also require a restart of OpenHD
# This file is overwritten when updating openhd
# On openhd images, it is placed under "/boot/openhd/hardware.config" -
# since on rpi, this partition shows up also on windows when reading the sd card

[wifi]
# Disable to manually specify how openhd should use the wifi cards in your system
WIFI_ENABLE_AUTODETECT = true
# The following variables are only used when ENABLE_AUTODETECT = false
# Interface name(s) of cards to use for wifibroadcast.
# AIR:  this must be exactly one card
# GROUND: you can specify more than one card, at least one is required
# transmission from ground to air is always done on the first card (the other cards only listen passively)
WIFI_WB_LINK_CARDS = wlan1
# Interface name of card to use for wifi hotspot, or empty if no card should be used for hotspot.
# Must not contain a card already used for wifibroadcast !
WIFI_WIFI_HOTSPOT_CARD =
# For development only, use a emulation card instead of a real one
WIFI_MONITOR_CARD_EMULATE = false
# Mostly for development, use the first wifibroadcast capable card found
# for the wifi hotspot instead of the wifibroadcast link. NOTE: WiFi hotspot
# and wifibroadcast cannot run simultaneously on the same card !
WIFI_FORCE_NO_LINK_BUT_HOTSPOT = false
# If the variables below are set, openhd does not use the WiFi hotspot card to create a hotspot,
# but instead tries to connect to the given (home) network
WIFI_LOCAL_NETWORK_ENABLE = false
WIFI_LOCAL_NETWORK_SSID =
WIFI_LOCAL_NETWORK_PASSWORD =

[network]
# OpenHD can control the ethernet connection via mavlink (wrapping network manager) but that only really serves a purpose on rpi as a ground station
# since on x86, people probably want to configure things themselves, e.g. via the ubuntu UI
# Valid values are:
# 1) RPI_ETHERNET_ONLY - default
# 2) The interface name of your ethernet card otherwise, e.g. eth0
NW_ETHERNET_CARD = RPI_ETHERNET_ONLY
# Specify additional IP address(es) the OpenHD ground unit should forward video and telemetry data to.
# Note that openhd already can detect externally connected devices, depending on how they are connected and what platform
# you are on. Only used on ground unit.
NW_MANUAL_FORWARDING_IPS =
# OpenHD automatically forwards primary and secondary video to localhost UDP 5600 and 5601 on ground.
# This option additionally also adds forwarding to 5800 (and 5801) of primary / secondary video
# Primary consumer of these stream(s) is the openhd web ui and its fpv preview (website)
# This additional forwarding consumes a bit more CPU and is not needed in all scenarios - therefore off by default
NW_FORWARD_TO_LOCALHOST_58XX = false

[generic]
# Generic stuff that doesn't really fit into those categories
#
# Write the last known position (lat,lon) to a file for recovery in case of a crash (on the ground)
# Off by default, since i am not sure if we can do such a feature while using prone for corruption sd cards on rpi.
GEN_ENABLE_LAST_KNOWN_POSITION = false
# RF metrics debug level. 0 = disable = default
GEN_RF_METRICS_LEVEL = 0
# Do not run the systemctl start / stop commands for qopenhd
GEN_NO_QOPENHD_AUTOSTART = false


[dev]
# Completely undocumented stuff. Don't touch
DEV_ENABLE_MICROHARD = false