# OpenHD hardware.
# Editing this file can break things - we only provide minimal support for custom setups that
# require editing this file
# Changes in this file also require a restart of OpenHD

[wifi]
# Disable to manually specify how openhd should use the wifi cards in your system
WIFI_ENABLE_AUTODETECT = true
# The following variables are only used when ENABLE_AUTODETECT = false
# Interface name(s) of cards to use for wifibroadcast.
# AIR:  this must be exactly one card
# GROUND: you can specify more than one card, at least one is required
# transmission from ground to air is always done on the first card (the other cards only listen passively)
WIFI_WB_LINK_CARDS = "wlan1"
# Interface name of card to use for wifi hotspot, or empty if no card should be used for hotspot.
# Must not contain a card already used for wifibroadcast !
WIFI_WIFI_HOTSPOT_CARD = ""


[camera]
# Disable to manually specify what cameras openhd should use or when you want to use cameras that cannot be autodetected (IP Cameras)
CAMERA_ENABLE_AUTODETECT = true
# The following variables are only used when ENABLE_AUTODETECT = false
# Use 1 if you only use a primary camera (CAM0), use 2 if you use a primary and secondary camera (CAM0 and CAM1)
CAMERA_N_CAMERAS = 2
# Available camera types are:
# 1) DUMMY_SW :
# a camera emulated fully in sw, usefully for development and debugging
# 2) CUSTOM_UNMANAGED_CAMERA :
# This camera is for developing purposes and/or for users that want to create more or less esoteric camera pipelines, e.g. by using
# a custom script. In this mode, ohd_video acts as a completely agnostic passthrough for a camera stream that is neither managed
# by openhd main executable nor created by openhd main executable (note: by that you loose any openhd-provided functionalities,
# e.g. changing camera settings and/or parameters.
# To keep this API somewhat stable we only define the following:
# Data needs to be provided by feeding h264,h265 or mjpeg encapsulated in RTP to udp port 5500 (localhost) in case of primary camera and
# 5501 (localhost) in case of secondary camera
# Auto-detectable cameras (when specified, openhd will wait until they come available)
# 3) RPI_CSI_MMAL
# 4) RPI_VEYE_CSI_V4l2
# 5) RPI_CSI_LIBCAMERA
CAMERA_CAMERA0_TYPE = DUMMY_CAMERA
CAMERA_CAMERA1_TYPE = DUMMY_CAMERA
