[Unit]
Description=openhd-system
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no


[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/openhd_system

[Install]
WantedBy=multi-user.target
Alias=openhdsystem@.service
