[Unit]
Description=openhd-system
After=openhdsecurity.service


[Service]
Type=notify
RemainAfterExit=true
ExecStart=/usr/local/bin/openhd_system

[Install]
WantedBy=multi-user.target
Alias=openhdsystem.service
