[Unit]
Description=openhd-security
After=local-fs.target sysinit.target

[Service]
Type=notify
RemainAfterExit=true
ExecStart=/usr/local/bin/openhd_security

[Install]
WantedBy=multi-user.target
Alias=openhdsecurity.service
