[Unit]
Description=openhd-security
After=openhd_system.service

[Service]
Type=notify
RemainAfterExit=true
ExecStart=/usr/local/bin/openhd_security

[Install]
WantedBy=multi-user.target
Alias=openhdsecurity.service
