[Unit]
Description=OpenHD Telemetry - %I
After=openhd_system.service

[Service]
Restart=always
Type=simple
ExecStart=/usr/local/bin/openhd_telemetry --mode %I

[Install]
WantedBy=multi-user.target

