name: build_package_rpi

on:
  push:
   branches:
      - "2.5-evo"
      - "dev-release"
      - "release"
   paths-ignore:
      - '**.md'
      - '**.asciidoc'
      - '**.adoc'
      - '.gitignore'
      - 'LICENSE'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 512
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        overprovision-lvm: 'true'
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: pguyot/arm-runner-action@v2.5.2
      id: build_image
      with:
        base_image: raspios_lite:latest
        image_additional_mb: 4000
        copy_repository_path: /opt
        copy_artifact_path: OpenHD
        import_github_env: true
        commands: |
            cd /opt
            cd OpenHD
            mkdir -p /usr/local/share/openhd/
            touch /usr/local/share/openhd/joyconfig.txt
            sudo ./install_build_dep.sh rpi
            cd /opt
            cd OpenHD
            chown -R root:root ../OpenHD
            sudo ./package.sh armhf raspbian bullseye

    - name: Upload to Github
      uses: 'actions/upload-artifact@v2'
      with:
        name: "OpenHD"
        path: |
          OpenHD/*.deb
        if-no-files-found: error

    - name: Push
      id: push
      uses: cloudsmith-io/action@master
      with:
        api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
        command: "push"
        format: "deb"
        owner: "openhd"
        repo: ${{ github.ref_name }}
        distro: "raspbian"
        release: "bullseye"
        republish: "true" # needed ONLY if version is not changing
        file: "OpenHD/*.deb"