name: UbuntuX86BuildTest

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo ./install_dep.sh
      - name: Build
        run: |
          cmake -B build -S OpenHD/
          cd build
          make
